// Colors
$white: #fff;
$black: #000;
$light-grey: #f6f8f9;
$grey: #d8d8d8;
$medium-grey: #c4bebe;
$grey97: #979797;
$dark-grey: #2c2e30;
$blue: #37a8ee;
$green: #00dca4;
$yellow: #f1c40f;

// Typography
$font-base: Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$font-regular: "glacialindifference-regular", $font-base;
$font-bold: "glacialindifference-bold", $font-base;
$font-italic: "glacialindifference-italic", $font-base;

// Font Sizes
$size-huge: 80px;
$size-heading: 32px;
$size-subHeading: 22px;
$size-big-text: 30px;
$size-text: 23px;
$size-text-small: 20px;

// Block Sizes
$header-height: 100px;
