.games-arena {
  background-color: $light-grey;
  min-height: 480px;
  padding: 5%;
  .title {
    font-family: $font-bold;
    font-weight: normal;
    font-size: $size-heading;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .description {
    font-family: $font-regular;
    font-size: $size-subHeading;
    text-align: center;
    margin-bottom: 20px;
  }
  .button-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    .button-tab {
      text-align: center;
      background-color: $white;
      padding: 8px;
      border-radius: 5px;
      border: 0 none;
      min-width: 150px;
      margin: 10px;
      color: $dark-grey;
      font-family: $font-regular;
      font-size: $size-text;
      transition: all 300ms;
      box-shadow: 0px 0px 3px 1px #cfcfcf;
      cursor: pointer;
      &.active {
        background-color: $blue;
        color: $white;
        box-shadow: 0px 0px 3px 1px #9c9c9c;
      }
      &:disabled {
        background-color: #cfcfcf;
        cursor: default;
        opacity: 0.3;
      }
    }
  }
  .game-area-container {
    width: 100%;

    .center-areas {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      .player-number {
        width: auto;
        &.active {
          color: $green;
        }
      }
      .game-area {
        text-align: center;
        width: 50vw;
        height: 50vw;
        max-width: 600px;
        max-height: 600px;
        background-color: $white;
        border: 1px solid #333;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .game {
          text-align: center;
        }
      }
      .player-number {
        text-align: center;
        &.desktop {
          display: block;
        }
        &.active {
          color: $green;
        }

        .label {
          display: block;
          font-family: $font-bold;
          font-weight: normal;
          font-size: $size-big-text;
        }
        .number {
          display: block;
          font-family: $font-regular;
          font-size: $size-huge;
        }
      }
    }
    .countdown {
      font-family: $font-regular;
      font-size: $size-heading;
      text-align: center;
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      align-content: center;
      .player-number {
        &.mobile {
          display: none;
        }
        &.active {
          color: $green;
        }
        .label {
          display: block;
          font-family: $font-bold;
          font-weight: normal;
          font-size: $size-big-text;
        }
        .number {
          display: block;
          font-family: $font-regular;
          font-size: $size-huge;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .games-arena {
    .title {
      font-size: 26px;
      margin-bottom: 12px;
    }
    .description {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .button-tabs {
      height: 80px;
      .button-tab {
        font-size: 17px;
        min-width: 130px;
      }
    }
    .game-area-container {
      .center-areas {
        flex-direction: column;
        .player-number {
          &.desktop {
            display: none;
          }
          &.active {
            color: $green;
          }
        }
        .game-area {
          order: 1;
          width: 100%;
          height: 370px;
        }
      }
      .countdown {
        margin-top: 35px;
        margin-bottom: 35px;
        .player-number {
          &.mobile {
            display: block;
          }
          &.active {
            color: $green;
          }
          .label {
            font-size: 22px;
          }
          .number {
            font-size: 46px;
          }
        }
        .timer {
          font-size: 24px;
        }
      }
    }
  }
}
