.header {
  display: flex;
  justify-content: space-between;
  background-color: $grey;
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  &.scrolled {
    opacity: 85%;
  }
  .inner-container {
    display: flex;
    justify-content: space-between;
    .logo {
      width: 190px;
      height: auto;
      display: flex;
      .logo-img {
        width: 100%;
      }
    }
    .info-right {
      font-size: $size-text-small;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 600px) {
  .header {
    height: 85px;
    .inner-container {
      .logo {
        width: 170px;
        margin-left: 10px;
      }
      .info-right {
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
}
