.hero-banner {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  margin-top: $header-height;
  .inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    .avatar {
      display: flex;
      height: 220px;
      .round-avatar {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    .user-info {
      width: auto;
      .highlight {
        font-size: $size-heading;
        margin-bottom: 10px;
      }
      .text-inline {
        font-size: $size-text;
        line-height: 28px;
      }
    }
    .right-info {
      text-align: right;
      font-size: $size-text;
      line-height: 28px;
      width: 45%;
      margin-left: 5%;

      .label {
        display: block;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-banner {
    min-height: 350px;
    padding-bottom: 20px;
    .inner-container {
      flex-direction: column;
      .avatar {
        height: auto;
        .round-avatar {
          width: 140px;
          height: 140px;
        }
      }
      .user-info {
        text-align: center;
        .highlight {
          font-size: $size-text;
          margin-bottom: 15px;
          margin-top: 30px;
        }
        .text-inline {
          font-size: 18px;
          line-height: 26px;
        }
      }
      .right-info {
        display: none;
      }
    }
  }
}
