.statistics {
  background-color: $white;
  min-height: 420px;
  padding: 5%;
  .inner-container {
    h3 {
      text-align: center;
      font-family: $font-bold;
      font-weight: normal;
      font-size: $size-heading;
      color: $dark-grey;
      margin-bottom: 20px;
    }
    .description {
      text-align: center;
      font-family: $font-regular;
      font-size: $size-subHeading;
      color: $dark-grey;
      margin-bottom: 80px;
    }
    .center-area {
      text-align: center;
      .block {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        h3 {
          font-size: $size-heading-small;
          color: $dark-grey;
          margin-bottom: 30px;
        }
      }
      .game-victories {
        .inner-players-block {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-content: center;
          .player-block {
            .player-name {
              font-family: $font-regular;
              font-size: $size-heading;
            }
            .inner-percent-stats {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-content: center;
              margin-top: 10px;
              .percent-stats {
                margin-left: 10px;
                margin-right: 10px;

                .percent-value {
                  height: 60px;
                  width: 60px;
                  background-color: $grey97;
                  color: $white;
                  font-family: $font-bold;
                  font-weight: normal;
                  font-size: $size-text;
                  border-radius: 50%;
                  display: flex;
                  flex-direction: column;
                  align-content: center;
                  justify-content: center;
                  letter-spacing: -1px;
                  margin-bottom: 10px;
                }
                .percent-type {
                  text-align: center;
                  font-family: $font-regular;
                  font-size: $size-text;
                }
              }
            }
          }
        }
      }
      .played-matches {
        .inner-block {
          margin-bottom: 30px;
        }
        .list-of-matchs {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            background-color: $white;
            border: 2px solid $grey97;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            vertical-align: top;
            &.played {
              background-color: $grey97;
            }
          }
        }
        .list-of-games {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            display: inline-block;
            margin-right: 8px;
            background-color: $white;
            border: 2px solid $grey97;
            height: 25px;
            width: 25px;
            padding: 3px;
            vertical-align: top;
            text-align: center;
            font-size: $size-text;
          }
        }
      }
      .total-time {
        .time-count {
          font-family: $font-regular;
          font-size: $size-heading;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .statistics {
    .inner-container {
      > h3 {
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .description {
        font-size: 18px;
        margin-bottom: 50px;
      }
      .center-area {
        .block {
          width: 100%;
          margin-bottom: 45px;
          &:last-child {
            margin-bottom: 20px;
          }
          h3 {
            margin-bottom: 15px;
            font-size: 22px;
          }
        }
        .total-time {
          .time-count {
            font-size: 20px;
          }
        }
        .played-matches {
          .inner-block {
            margin-bottom: 45px;
            &:last-child {
              margin-bottom: 0;
            }
            .list-of-games {
              li {
                height: 20px;
                width: 20px;
                font-size: 17px;
              }
            }
          }
        }
        .game-victories {
          .inner-players-block {
            .player-block {
              .player-name {
                font-size: 22px;
              }
              .inner-percent-stats {
                .percent-stats {
                  .percent-value {
                    height: 50px;
                    width: 50px;
                    font-size: 18px;
                  }
                  .percent-type {
                    font-size: 19px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
